:root {
    --cor-primaria: #2C73D2;
    --cor-secundaria: #26A69A;

    --cor-fundo: #F5F5F5;

    --cor-texto-principal: #333333;
    --cor-texto-secundario: #666666;

    --cor-erro: #E57373;
    --cor-sucesso: #81C784;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    color: var(--cor-primaria);
}

label {
    color: var(--cor-texto-principal);
}

input, select {
    width: 300px;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 4px;
    color: var(--cor-texto-principal);
}

button {
    background-color: var(--cor-primaria);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #255fa9; /* versão mais escura */
}

.sucesso {
    color: var(--cor-sucesso);
}

.erro {
    color: var(--cor-erro);
}
